@charset "UTF-8";
@import "normalize";

$dark-gray: #556270;

* {
    padding: 0;
    margin:  0;
    line-height: 2; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:visited {
    color: inherit;
    cursor: pointer;
}

//height stuff
html, body {
    height: 100%; //fallback
    height: 100vh;
    font-size: 16px;
    overflow: hidden;
}

html {
    background: url(/images/jet-sky.jpg) no-repeat top center;
    background-size: cover; 
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: rgba(255, 255, 255, .2);
    position: relative;
}

header {
    color: black;
    margin: 2rem 0;
    p {
        font-size: 1.5rem;
        font-weight: 300;
    }
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Volkorn', serif;
    font-weight: 400;
    line-height: 1;
    margin: 0 0;
}

#main {
    // background: rgba(255, 255, 255, 0.8);
    width: 50%;
    min-width: 400px;
    max-width: 700px;
    padding: 1rem;
    // border-radius: 5px;
    display: inline-block;
    .slide {
        display: none;
        &.active {
            display: block;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: .5rem;
    display: block;
    width: 100%;
}

.button {
    padding: .5rem;
    margin: 1rem;
    display: inline-block;
    border: 1px solid black;
    text-transform: uppercase;
    &:hover {
        background: rgba(0, 0, 0, .5);
        color: white;
        border: none;
    }
}